:root {
  --main-color: white;
}
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */

}
:any-link{
  text-decoration: none;
}
ul{
  list-style: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}
.container {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* settings box  */
.settings-box{
  position: absolute;
  left: -200px;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 200px;
  z-index: 1111;
  min-height: 100vh;
  transition: .3s;
}
.settings-box.open{
  left: 0;
}
.settings-box .togglle-settings{
  position: absolute;
  right: -30px;
  background-color: white;
  text-align: center;
  top: 100px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.settings-box .togglle-settings i{
  font-size: 20px;
  width: 30px;
  padding: 8px 0px;
}
.settings-box .option-box{
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: #f5f5f5;
}
.settings-box .option-box h4{
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .option-box .colors-list{
  text-align: center;
  padding: 0;
  margin: 10px 0 0 ;
}
.settings-box .option-box .colors-list li{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
  border: 3px solid transparent;
  display: inline-block;
}
.settings-box .option-box .colors-list li.active{
  opacity: 1;
  outline: 2px solid var(--main-color);
  outline-offset: 1px;
}
.settings-box .option-box .colors-list li:first-child{
  background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2){
  background-color: #E91E36;
}
.settings-box .option-box .colors-list li:nth-child(3){
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4){
  background-color: #03A9F4;
}
.settings-box .option-box .colors-list li:nth-child(5){
  background-color: #4CAf50;
}
.settings-box .random-backgrounds .yes, 
.settings-box .random-backgrounds .no{
  width: 50px;
  color: white;
  margin-top: 10px;
  font-size: 14px;
  padding: 4px 5px;
  font-weight: bold;
  display: inline-block;
  opacity: .5;
  border-radius: 5px;
  background-color: #009688;
  cursor: pointer;
}
.settings-box .random-backgrounds span.active{
  opacity: 1;
}

/* settings box  */

/* start landng page  */
.landing-page {
  min-height: 100vh;
  background-color: #ff990068;
  background: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
  transition:  .5s;
  overflow: hidden;
  
}
.landing-page .overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.571);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-area{
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}
.header-area .logo{
  width: 300px;
  padding: 15px;
  font-weight: bold;
  
}
.header-area .links{
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right:  30px;
}
.header-area .links li{
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.header-area .links li a {
  color: white;
  transition: .2s;
  padding-bottom: 4px;
}
.header-area .links li a:hover,
.header-area .links li a.active{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.introduction-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: white;
  text-align: center;
}
.introduction-text h1{
  font-size: 40px;
  margin: 0 0 10px;
}

.introduction-text h1 span{
  color: var(--main-color);
}
.introduction-text p{
  line-height: 1.6;
  font-size: 17px;
  width: 464px;
}
/* end landng page  */